@font-face {
  font-family: "gilroyextrabold";
  src: url("./fontGilroyExtraBold/gilroy-extrabold-webfont.woff2")
      format("woff2"),
    url("./fontGilroyExtraBold/gilroy-extrabold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: #edede4;
}

#bootstrap-overrides #headline1 {
  font-size: 39px;
  color: #30434f;
  font-family: "gilroyextrabold";
  font-weight: normal;
  font-style: normal;
}
#bootstrap-overrides #subtitle1 {
  font-size: 18px;
  color: #415c6e;
  font-family: "gilroyextrabold";
  font-weight: normal;
  font-style: normal;
}

#bootstrap-overrides #currentDay {
  font-size: 17px;
  color: grey;
  font-family: "gilroyextrabold";
  font-weight: normal;
  font-style: normal;
  position: relative;
  top: -80px;
  right: -30px;
}

#bootstrap-overrides h4 {
  font-size: 18px;
}

.jumbotron {
  text-align: left;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid hsl(180, 1%, 27%);
}

#bootstrap-overrides .row {
  white-space: normal;
}
.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  top: 4px;
  left: 55%;
}

.past {
  background-color: #30434f;
}

.present {
  background-color: #ff6961;
}

.future {
  background-color: #77dd77;
}

#bootstrap-overrides #saveButton {
  background-color: hsl(138, 53%, 43%);
  border-color: hsl(138, 53%, 43%);
}
